.app{
    background: #fb7299;
    color:white;

    .banner{
    width: 100%;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
    }

}